# my_project
session_response.json
faiss_metadata.json
models
.venv
session_response.json
load_test_results.json
sample_test_data.json
server.log
stream_response.txt
log/

# pythons
.mypy_cache/
__pycache__/
.DS_Store
.pyc
chroma_db
.sqlite3


# メモシリーズ
memo
*.patch
*.log
*.txt
trach_temp